@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <textarea id="display-message" cols="100" rows="20"></textarea>

            <label>Message:</label>
            <input type="text" id="message"/>

            <input id="send" type="button" value="Send" />
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>